a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

*,
:after,
:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: none
}

body {
  padding-top: 50px;
  background: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
}


.fl-lato {
  font-family: "Poppins", sans-serif
}

.fl-edu {
  font-family: "Quicksand", sans-serif;
}


p {
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  font-size: 18px;
  line-height: 1.4;
}

a {
  text-decoration: none;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  text-transform: uppercase;
}

h1 {
  font-size: 1em;
  font-weight: bold;
}


header {
  z-index: 5;
  background: #000;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

header,
nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
}

header nav {
  padding: 10px 15px;
  background: #52AFFF;
  -webkit-animation: fadein .4s;
  -moz-animation: fadein .4s;
  -o-animation: fadein .4s;
  animation: fadein .4s;
}

header h1 a {
  color: #fff;
  padding: 5px 8px 0;
}

header h1 a.nav-about {
  margin-left: 1px;
  color: #444;
}

.cf:after,
.cf:before {
  content: " ";
  display: table;
}

header h1 {
  margin-top: 8px;
  margin-left: -8px;
  float: left;
}

header input {
  width: 50%;
  margin-top: 1px;
  padding: 4px 30px;
  float: right;
  background: #fff url(./search.svg) no-repeat 8px 6px;
  background-size: 14px 14px;
  border-radius: 4px;
  border: 1px solid #fff;
  font-size: 16px;
  font-family: Georgia, serif;
  font-style: italic;
  line-height: 1;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}


.clear {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 22px;
  background: url(./close.svg) no-repeat 0 0;
  background-size: 13px 26px;
  border: none;
  cursor: pointer;
}

.App-link {
  color: #52AFFF;
}

.airport-list,
nav {
  opacity: 1;
  -webkit-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

.back,
.btn,
.card a,
.photo-credit,
h1,
h2,
h3,
p {
  -webkit-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

.card {
  position: relative;
  float: left;
  background: #000 no-repeat center center;
  background-size: cover;
  width: 50%;
}

.card .background {
  width: 100%;
  height: 100%;
  background: no-repeat center center;
  background-size: cover;
  position: absolute;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

.card a {
  padding: 80px 20px;
  display: block;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, .35);
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, .7);
  color: #fff;
  -webkit-transition: background .3s ease-in;
  -moz-transition: background .3s ease-in;
  transition: background .3s ease-in;
  cursor: pointer;
}

.card a:focus,
.card a:hover {
  background: 0 0;
}

.card a:focus {
  outline: 0;
  box-shadow: inset 0 0 0 15px rgba(0, 0, 0, .4);
}

.card.loaded .background {
  opacity: 1;
}

.overlay {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, .75);
  cursor: default;
}

.detail {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /* visbility: visible; */
  opacity: 1;
  background: #000 no-repeat 50% 50%;
  background-size: cover;
  text-align: center;
  -webkit-animation: fadein .4s;
  -moz-animation: fadein .4s;
  -o-animation: fadein .4s;
  animation: fadein .4s;
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.detail .detail-info {
  border: 1px solid #fff;
  z-index: 2;
}

.detail h1 {
  margin-bottom: 20px;
  font-size: 80px;
}

.detail h2 {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.2;
}

.detail h3 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
}

.detail .detail-info a.close-detail {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(./close-white.svg) no-repeat center center;
  background-size: 18px 18px;
  text-indent: -9999em;
  cursor: pointer;
}

.detail .detail-info a.close-detail:focus {
  outline: 0;
  background-color: rgba(0, 0, 0, .9);
}

.detail .social a:focus,
.detail .social a:hover {
  opacity: .6;
}

.detail .social {
  margin: 30px 5px 0;
  display: inline-block;
}

.detail .social a {
  width: 35px;
  height: 25px;
  display: block;
  background: no-repeat center center;
  background-size: auto 25px;
  text-indent: -9999em;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.detail .social a.twitter {
  background-image: url(./twitter.svg);
}

.detail .social a.facebook {
  background-image: url(./facebook.svg);
}

.detail .photo-credit {
  padding: 7px;
  z-index: 2;
  background: rgba(0, 0, 0, .3);
  border-radius: 3px;
}

.detail .photo-credit a {
  color: #fff;
  font-weight: 900;
}

.back {
  padding: 8px;
  position: absolute;
  top: 13px;
  left: 7px;
  z-index: 2;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  cursor: pointer;
}

.site-info {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #000 no-repeat 50% 50%;
  background-size: cover;
  text-align: center;
  color: #fff;
  -webkit-animation: fadein .4s;
  -moz-animation: fadein .4s;
  -o-animation: fadein .4s;
  animation: fadein .4s;
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.site-info .container {
  width: 100%;
  height: 100%;
  padding: 30px 15px;
  position: relative;
  z-index: 2;
  overflow-y: auto;
}

.site-info .content {
  max-width: 550px;
  margin: 80px auto 50px;
}

.site-info h1 {
  margin-bottom: 20px;
  font-size: 40px;
}

.site-info p a:focus, .site-info p a:hover, .site-info ul a:focus, .site-info ul a:hover {
  border-color: #52AFFF;
}

.site-info p a, .site-info ul a {
  border-bottom: 1px dotted transparent;
  color: #40bae2;
  font-weight: 700;
}

.site-info p.small, .site-info ul.small {
  font-size: 85%;
}

.site-info p:not(.center),
.site-info ul:not(.center) {
  text-align: left;
}

.site-info p,
.site-info ul {
  margin-bottom: 15px;
}

.site-info hr {
  margin: 30px 0;
  border: none;
  border-bottom: 1px dotted rgba(255, 255, 255, .3);
}

.site-info .footnote {
  margin-top: 40px;
}

.site-info .footnote p {
  margin-bottom: 10px;
  font-size: 15px;
}

.site-info .footnote p a {
  color: #fff;
}

.site-info .back {
  z-index: 10;
}

.about {
  background-image: url(../public/assets/images/airplane.gif);
}

/* modal-wrapper test */
.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 999;
}


@media (min-width: 1500px) {
  .card {
    width: 16.66%;
  }
}

@media (min-width: 651px) and (max-height: 550px) {
  .detail .container {
    width: 100%;
    height: 100%;
    padding: 60px 15px 30px;
    overflow-y: auto;
  }

  .detail {
    width: 100%;
    height: 100%;
  }

  .detail .detail-info {
    min-height: 320px;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }

  .detail .back,
  .detail .photo-credit {
    background: rgba(0, 0, 0, .6);
  }

}

@media (min-width: 651px) {
  .detail .detail-info {
    min-width: 450px;
    max-width: 750px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .detail .photo-credit {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}


@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}